<div class="container mb-3">
  <div class="card">
    <div class="card-header text-center">
      REPORTS - {{parameter}}
    </div>
    <table class="table-sm table-striped table-responsive">
      <thead>
        <tr>
          <th class="align-middle bg-secondary" *ngFor="let field of recordFields">{{field}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle" *ngFor="let record of recordList | paginate: { 
          id: 'records_pagination',
          itemsPerPage: 5,
          currentPage: page,
          totalItems: recordListSize }">
          <td>{{record._id}}</td>
          <td>{{record.problems}}</td>
          <td>{{record.otherProblems}}</td>
          <td>{{record.address}}</td>
          <td>{{record.communityCouncilArea}}</td>
          <td>{{record.date}}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <pagination-controls id="records_pagination" maxSize="5" directionLinks="false"
      (pageChange)="page = $event"></pagination-controls> 
    </div>
  </div>  
</div>