<div class="container">
    <div class="header bg-info p-2">{{membersList? "Members":"Staffs"}}</div>
    <div *ngIf="membersList; else elseStaffBlock">
        <div class="card" *ngFor="let member of membersList | paginate: {
            id: 'members_pagination',
            itemsPerPage: 5,
            currentPage: page,
            totalItems: membersListSize}">
            <div class="card-header bg-secondary text-white">
                <div class="row">
                    <div class="ml-auto btn-toolbar">
                        <button class="btn btn-info" (click)= "editMember(member._id)">Edit</button>
                        <button class="btn btn-danger" (click)="removeMember(member._id)">Remove</button>
                    </div>
                </div>
            </div>
            <div class="card-body">  
                <div class="row vertical-align">
                    <div class="col-sm-4">
                        <img class="imageClass" src="#" alt="Image"/>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-3">ID</div>
                            <div class="col-sm-8">: {{member._id}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">Email</div>
                            <div class="col-sm-8">: {{member.email}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">Password</div>
                            <div class="col-sm-8">: {{member.password}}</div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <pagination-controls id="members_pagination" maxSize="5" directionLinks="false"
            (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
    <ng-template #elseStaffBlock>     
        <div class="card" *ngFor="let staff of staffsList | paginate: {
            id: 'staffs_pagination',
            itemsPerPage: 5,
            currentPage: page,
            totalItems: staffsListSize }">
            <div class="card-header bg-secondary text-white">
                <div class="row">
                    <div class="ml-auto btn-toolbar">
                        <button class="btn btn-danger" (click)="removeStaff(staff._id)">Remove</button>
                    </div>
                </div>
            </div>
            <div class="card-body">  
                <div class="row vertical-align">
                    <div class="col-sm-4">
                        <img class="imageClass" src="#" alt="Image"/>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-3">ID</div>
                            <div class="col-sm-8">: {{staff._id}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">Email</div>
                            <div class="col-sm-8">: {{staff.email}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">Password</div>
                            <div class="col-sm-8">: {{staff.password}}</div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center"> 
            <pagination-controls id="staffs_pagination" maxSize="5" directionLinks="false"
            (pageChange)="page = $event"></pagination-controls>
        </div>
    </ng-template>           
  <!--<div *ngIf="error">{{errorFound}}</div>-->
</div>
