<div class="container">
  <div class="jumbotron text-center">
    <h1>Clean System</h1>
    <p>Let's make our city better!</p>
  </div>
</div>    
<div class="container">
  <div class="card rounded-0 col-sm-6 mx-auto text-center m-3">
    <div class="card-header">About</div>
    <div class="card-body">
      <label for="appName">Name:</label> Clean System for Toronto<br>
      <label for="appType">Type:</label> MEAN Stack application<br>
      <label for="author">Auther:</label> Chime Palden
    </div>  
  </div>
</div>    
